/* HEADER */
.site-header{
    background:#ffffff;
    border-bottom:1px solid #eee;
    padding:10px 0;
}

/* CONTAINER */
.site-header-content{
    width:1200px;
    margin:auto;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

/* LOGO */
.site-logo img{
    height:55px;
    width:auto;
}

/* MENU */
.site-nav a{
    margin:0 12px;
    text-decoration:none;
    color:#333;
    font-weight:500;
}

.site-nav a:hover{
    color:#1fa463;
}

/* USER AREA */
.site-user-area{
    display:flex;
    align-items:center;
    gap:10px;
}

.site-btn{
    background:#1fa463;
    color:white;
    padding:6px 14px;
    border-radius:6px;
    text-decoration:none;
}

.site-btn:hover{
    background:#168a52;
}

.site-logo{
    display:flex;
    align-items:center;
    text-decoration:none;
}

.logo-text{
    font-size:20px;
    font-weight:bold;
    margin-left:10px;
    color:#1fa463;
}